.contact {
    background-color: #f4f4f4;
    color: #333;
    padding: 80px 20px;
    text-align: left;
  }
  
  .contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    max-width: 1200px;
    margin: auto;
  }
  
  .contact-info {
    flex: 1;
    min-width: 300px;
    padding: 20px;
  }
  
  .contact-info h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
  }
  
  .info-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .info-icon {
    font-size: 1.5em;
    margin-right: 10px;
    color: #e91e63;
  }
  
  .social-icon {
    font-size: 1.5em;
    margin-right: 10px;
    color: #e91e63;
    cursor: pointer;
  }
  
  .social-icon:hover {
    color: #ff4081;
  }
  
  .download-btn {
    display: inline-block;
    background-color: #e91e63;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .download-btn:hover {
    background-color: #ff4081;
  }
  
  .contact-form {
    flex: 2;
    min-width: 300px;
    padding: 20px;
  }
  
  .contact-form form {
    display: flex;
    flex-direction: column;
  }
  
  .contact-form input,
  .contact-form textarea {
    background-color: #333;
    border: 1px solid #444;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    color: white;
  }
  
  .contact-form input::placeholder,
  .contact-form textarea::placeholder {
    color: #999;
  }
  
  .contact-form textarea {
    resize: none;
    height: 150px;
  }
  
  .submit-btn {
    background-color: #e91e63;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-btn:hover {
    background-color: #ff4081;
  }
  
  .thank-you-message {
    text-align: center;
    padding: 100px 20px;
  }
  
  .thank-you-message h2 {
    font-size: 3em;
    margin-bottom: 20px;
    color: #e91e63;
  }
  
  .thank-you-message p {
    font-size: 1.2em;
    color: #b3b3b3;
  }
  .resume-download {
    margin-top: 20px;
  }
  
  .download-button {
    background-color: #ff0055;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .download-button:hover {
    background-color: #e6004c;
  }
  